* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  #header .header {
    width: 920px;
  }
  #hero .hero--tittle h1 {
    width: 390px !important;
    font-size: 38px !important;
  }
  #hero .hero--tittle p {
    width: 400px !important;
  }
  #hero .hero--img img {
    width: 440px;
  }
}
#header {
  padding-top: 40px;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header--img {
  display: flex;
  align-items: center;
}
#header .header--a {
  width: 690px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header--a a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #22343D;
}
#header .header--a a span {
  font-weight: 900;
}
#header .header--a .header-btn1 {
  height: 43px;
  width: 102px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173A56;
}
#header .header--a .header-btn2 {
  height: 43px;
  width: 102px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background: #02897A;
}

#hero .hero {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hero .hero--tittle h1 {
  width: 518px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #22343D;
}
#hero .hero--tittle p {
  margin-top: 18px;
  margin-bottom: 45px;
  width: 458px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #22343D;
}
#hero .hero--tittle__btn {
  display: flex;
  align-items: center;
}
#hero .hero--tittle__btn button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  height: 53px;
  width: 175px;
  background: #02897A;
  border-radius: 4px;
}
#hero .hero--tittle__btn a {
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #02897A;
}

#management .management {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#management .management--text h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #22343D;
  margin-bottom: 8px;
}
#management .management--text h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #22343D;
  margin-bottom: 23px;
}
#management .management--text p {
  width: 410px;
  font-size: 16px;
  color: #22343D;
  line-height: 26px;
}

#collaborative {
  margin-top: 150px;
}
#collaborative .Quik h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343D;
}
#collaborative .Quik p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #22343D;
}
#collaborative .collaborative--block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
#collaborative .collaborative--block .--block__img {
  display: flex;
  align-items: center;
}
#collaborative .collaborative--block .--block__img p {
  margin: 0 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2F281E;
}
#collaborative .collaborative--bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#collaborative .collaborative--bottom .img {
  display: flex;
  align-items: center;
}
#collaborative .collaborative--bottom .img p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2F281E;
  margin: 0 30px;
}
#collaborative .colo--btn {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border: 1px solid #02897A;
  background: #02897A;
  height: 53px;
  width: 216px;
  border-radius: 4px;
  margin: 30px 0;
}

#product {
  margin-top: 100px;
}
#product .customer {
  text-align: center;
}
#product .customer--button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
#product .customer h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #22343D;
}
#product .customer--block__rod {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
#product .customer--block__rod .block__1 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  width: 210px;
  margin: 10px 0;
}
#product .customer--block__rod .block__1 p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  width: 240px;
}
#product .customer--block__rod .block__2 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  width: 210px;
  margin: 10px 0;
}
#product .customer--block__rod .block__2 p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  width: 240px;
}
#product .customer--block__rod .block__3 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  width: 210px;
  margin: 10px 0;
}
#product .customer--block__rod .block__3 p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  width: 240px;
}
#product .customer--block__rod .block__4 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  width: 210px;
  margin: 10px 0;
}
#product .customer--block__rod .block__4 p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  width: 240px;
}
#product .customer--button button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border: 2px solid #02897A;
  background: #02897A;
  height: 53px;
  width: 175px;
  margin-top: 80px;
  border-radius: 4px;
}

#customer .customer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#customer .customer--tittle h5 {
  width: 220px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
}
#customer .customer--tittle h1 {
  margin: 8px 0 23px 0;
  width: 310px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #22343D;
}
#customer .customer--tittle .tittle-p {
  width: 486px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}
#customer--img img {
  width: 540px;
}
#customer--img__yellow {
  display: flex;
  align-items: center;
}
#customer--img__yellow p {
  margin-left: 30px;
  width: 370px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}
#customer--img__red {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
#customer--img__red p {
  margin-left: 30px;
  width: 385px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}
#customer--img__blue {
  display: flex;
  align-items: center;
}
#customer--img__blue p {
  margin-left: 30px;
  width: 389px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}

#lorem {
  background: red;
}

/*# sourceMappingURL=style.css.map */
