@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  #header {
    .header {
      width: 920px;
    }
  }

  #hero {
    .hero {
      &--tittle {
        h1 {
          width: 390px !important;
          font-size: 38px!important;
        }
        p {
          width: 400px !important;
        }
        }
      &--img {
        img {
          width: 440px;
        }
      }
    }
  }
}

