@mixin h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  width: 210px;
}
@mixin p{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
  width: 240px;
}

@mixin style{
  font-family: 'Poppins',sans-serif;
}