$nen:blue;
@import "reset";
@import "mixin";
@import "media";


#header{
  padding-top: 40px;
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--img{
      display: flex;
      align-items: center;
    }
    &--a{
      width: 690px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a{
        span{
          font-weight: 900;
        }
        //margin-left: 24px;
        font-family: 'Poppins',sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #22343D;
      }
      .header-btn1{
        height: 43px;
        width: 102px;
        border: 1px solid #BCD0E5;
        border-radius: 4px;
        font-family: 'Poppins',sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #173A56;
      }
      .header-btn2{
        height: 43px;
        width: 102px;
        border: 1px solid #BCD0E5;
        border-radius: 4px;
        font-family: 'Poppins',sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color:white;
        background: #02897A;
      }
    }
  }

}

#hero{
  .hero{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--tittle{
      h1{
        width: 518px;
        font-family: 'Poppins',sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        color: #22343D;
      }
      p{
        margin-top: 18px;
        margin-bottom: 45px;
        width: 458px;
        font-family: 'Poppins',sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #22343D;

      }
      &__btn{
        display: flex;
        align-items: center;
        button{
          font-family: 'Poppins',sans-serif;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: #FFFFFF;
          height: 53px;
          width: 175px;
          background: #02897A;
          border-radius: 4px;

        }
        a{
          margin-left: 20px;
          font-family: 'Poppins',sans-serif;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          text-decoration-line: underline;
          color: #02897A;
        }
      }

    }
  }
}

#management{
  .management{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &--text{
      h4{
        font-family: 'Poppins',sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #22343D;
        margin-bottom: 8px;
      }


      h1{
        font-family: 'Poppins',sans-serif;
        font-weight: 700;
        font-size: 32px;
        color: #22343D;
        margin-bottom: 23px;
      }

      p {
        width: 410px;
        font-size: 16px;
        color: #22343D;
        line-height: 26px;
      }


    }
  }
}

#product{
  margin-top: 100px;
  .customer{
    text-align: center;
    &--button{
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
    }
    h2{
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
      color: #22343D;
    }
    &--block__rod{
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
.block__1{
  h1{
 @include h1;
    margin: 10px 0;
  }
  p{
 @include p;
  }

}
      .block__2{
        h1{
          @include h1;
          margin: 10px 0;
        }
        p{
  @include p;
}

      }
      .block__3{
        h1{
          @include h1;
          margin: 10px 0; 
        }
        p{
        @include p;
        }
      }
      .block__4{
        h1{
          @include h1;
          margin: 10px 0;
        }
        p{
          @include p;
        }
      }
    }
    &--button{
      button{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        border: 2px solid #02897A;
        background: #02897A;
        height: 53px;
        width: 175px;
        margin-top: 80px;
        border-radius: 4px;
      }
    }
  }
}

#customer{
  .customer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--tittle{
      h5{
        width: 220px;
        font-family: 'Poppins',sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #22343D;
      }
      h1{
        margin: 8px 0 23px 0;
        width: 310px;
        font-family: 'Poppins',sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        color: #22343D;
      }
      .tittle-p{
        width: 486px;
        margin-bottom: 15px;

        font-family: 'Poppins',sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #22343D;
      }



        //width: 410px;
      }
      //h6{
      //  font-family: 'Poppins',sans-serif;
      //  font-weight: 600;
      //  font-size: 16px;
      //  color: #22343D;
      //  margin-top: 27px;
      //  margin-bottom: 12px;
      //}
    }
    &--img{
      img{
        width: 540px;

      }
      &__yellow{
        display: flex;
        align-items: center;
        p{
          margin-left: 30px;
          width: 370px;
          font-family: 'Poppins',sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #22343D;
        }
      }
      &__red{
        margin: 20px 0;
        display: flex;
        align-items: center;
        p{
          margin-left:30px;
          width: 385px;
          font-family: 'Poppins',sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #22343D;
        }

      }
      &__blue{
        display: flex;
        align-items: center;
        p{
          margin-left: 30px;
          width: 389px;
          font-family: 'Poppins',sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #22343D;

        }


      }
    }
}

#quick{
  padding-top: 70px;
  .quick{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      width: 348px;
      font-family: 'Poppins',sans-serif;
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
      text-align: center;
      color: #22343D;
    }
    .quick-p{
      margin: 16px 0 32px 0;
      width: 542px;
      font-family: 'Poppins',sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #22343D;
    }
    &--girls{
      width: 1200px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &__block1{
        display: flex;
        align-items: center;
        p{
          margin-left: 15px;
          font-family: 'Poppins',sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: #2F281E;
        }
      }
      &__block2{
        display: flex;
        align-items: center;
        p{
          margin-right: 15px;
          font-family: 'Poppins',sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: #2F281E;
        }
      }

    }
    &--boys{
      width: 1200px;
      justify-content: space-evenly;
      display: flex;
      align-items: center;
      &__block1{
        display: flex;
        align-items: center;
        p{
          margin-right: 15px;
          font-family: 'Poppins',sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: #2F281E;
        }
      }
      &__block2{
        display: flex;
        align-items: center;
        p{
          margin-left: 15px;
          font-family: 'Poppins',sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: #2F281E;
        }
      }
    }
    button{
      margin: 30px 0 0 0 ;
      height: 53px;
      width: 216px;
      border-radius: 4px;
      background: #02897A;
      font-family: 'Poppins',sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #FFFFFF;
    }
  }
}

